// code.scss

.code-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    // margin: 10px auto;
    
    padding-left: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    justify-content: space-between;
     
  }
  
  .code-editor {
    flex: 1;
    margin-right: 60px;
  }
  
  .editor-label {
    font-weight: bold;
    margin: 5px;
    margin-bottom: 5px;
  
  }
   
  select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  textarea {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .Editor{
     border-radius: 10px;
     border: thin solid #ccc;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .output-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
  }
  
  